body{
	background-color: red;
	font-family: HoloLens MDL2 Assets;	
}
.cuadro1{
	height: 300px;
	width: 400px;
	color:white;
	background-color: gray;
	border-radius: 30px;
	font-size: 20px;
	margin-left: -700px;
	margin-top: 100px;
}

.cuadro2{
	height: 300px;
	width: 400px;
	color:white;
	background-color: gray;
	border-radius: 30px;
	font-size: 20px;
	margin-left: 600px;
	margin-top: -330px;
}
.boton1{

}

.boton2{
	margin-left: -200px;

}

.boton3{
	margin-left: 200px;
	margin-top: -94px;
}